/* CSS Reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Nunito Sans";
    background-color: rgb(22, 21, 21);
    color: white;
}

/* Navigation */
#body-header{
    position: sticky;
    top: 0;
    left: 2%;
    background-color: rgb(24, 22, 22);
    z-index: 1000;
}

#navbar{
    display: flex;
}

#logo{
    display: flex;
}

#logo img{
    height: 4rem;
    border-radius: 50%;
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    margin-right: 7%;
    cursor: pointer;
}

#logo span{
    margin-top:1.4rem;
}

#logo img:hover{
    transition: 0.5s ease-in-out;
    transform: rotate(180deg);
}

.horizontal-list{
    display: flex;
    align-items: center;
}

.horizontal-list li{
    list-style: none;
    font-size: 1.3rem;
}

.horizontal-list li a{
    text-decoration: none;
    color: white;
    margin-left: 60%;
    padding: 55%;
}


.user{
    position: absolute;
    right: 2%;
    top: 20%;
}

.user img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.search-container{
    width: 40%;
}
.search-bar{
    position:absolute;
    right:11%;
    top:2rem;
    background-color: rgb(38, 36, 36);
    border-radius: 8px;
}

#search{
    background: none;
    border: none;
    font-size: 1.2rem;
    padding:5px;
    caret-color: white;
}

.search-bar span{
    padding: 10px;
}

.notification-bell{
    position: absolute;
    top:2.2rem;
    right: 8%;
}

.notification-bell i{
    color: white;
    font-size: 1.2rem;
}

.notification-bell i:hover{
    transition: .5s ease-in-out;
    transform: rotate(360deg);
}

.dot{
    height: 6px;
    width: 6px;
    background-color: red;
    border-radius: 50%;
    position:absolute;
    top:2.2rem;
    right: 8%;
}


/* Hamburger Menu*/

.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
/* Home Section */
.container-sec{
    padding: 2rem;
}
  
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin-top: 5%;
    margin-bottom: 2%;
}
  
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
  
.slider::-webkit-scrollbar{
    display: none;
}
  
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
  
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position:absolute;
    bottom:1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
}
  
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 0.75;
    background-color: #fff;
    transition: opacity ease 250ms;
}
  
.slider-nav a:hover{
    opacity: 1;
}

.slider span{
    position: absolute;
    top:40%;
    left: 30%;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    max-width: 15rem;
    background-image: linear-gradient(blue,lime);
}

/* Latest Release Section */
#latest-release{
    position: relative;
}

.latest-release-container{
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(rgb(218, 5, 40),rgb(118, 0, 237));
}

.latest-release-container h1{
    margin-top: 4rem;
}
.latest-rel-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 28rem;
}

.latest-rel-item img{
    width: 130px;
    height: 130px;
    padding: 12px;
}

.latest-rel-item h3{
    font-size: 0.9rem;
}

.latest-rel-item h4{
    position: absolute;
    top: 60%;
    left: 29%;
    font-size: 0.7rem;
    color: black;
}

.bar a{
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 1.6rem;
    color: white;
}

.dropdown-caller{
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
    z-index: 1;
}

.dropdown-list li{
    list-style: none;
}

.number{
    position: absolute;
    right: 2%;
    top:50%;
    font-size: 0.6rem;
    color: gray;
}

.dropdown-list{
    background-color: white;
    color: grey;
    width: 40%;
    display: none;
}

.dropdown-menu li i{
    margin-left: 2%;
    margin-right: 3%;
}
.dropdown-list li{
    border-bottom:2px solid grey;
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 2%;
}

.play-button i{
    display: none;
}

.pause-button i{
    display: none;
}

.latest-rel-item:hover .play-button i{
    display: block;
    position:absolute;
    top:40%;
    left:12%;
    font-size: 2rem;
    color: white;
    z-index: 1;
}


.latest-rel-item:hover:active .pause-button i{
    display: block;
    position:absolute;
    top:40%;
    left:12%;
    font-size: 2rem;
    color: white;
    z-index: 2;
}

.latest-rel-item:hover:active .play-button{
    display: none;
}

.latest-rel-item:hover img{
    opacity:0.6;
}

/* Popular Artists Section */
#popular-artists h1{
    margin-top: 4rem;
}

.artist-container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(orange,red);
}

.artist-container a{
    text-decoration: none;
}

.popular-item img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.popular-item h3{
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.popular-item{
    position: relative;
}

.play-button i{
    display: none;
}

.pause-button i{
    display: none;
}

.popular-item:hover .play-button i{
    display: block;
    position:absolute;
    top:30%;
    left:40%;
    font-size: 2rem;
    color: white;
    z-index: 1;
}


.popular-item:hover:active .pause-button i{
    display: block;
    position:absolute;
    top:30%;
    left:40%;
    font-size: 2rem;
    color: white;
    z-index: 2;
}

.popular-item:hover:active .play-button{
    display: none;
}

/* Mood Container */

.mood-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 37, 37);
    align-items: center;
    height: 8rem;
    margin-top: 4rem;
    background-image: linear-gradient(rgb(9, 9, 94),rgb(246, 4, 246));
}

.mood-item{
    position: relative;
}

.mood-item img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    opacity: 0.8;
}

.mood-item h3{
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 0.8rem;
    font-weight: bolder;
}

.mood-item i{
    font-size: 4rem;
}

.mood-item h2{
    text-align: center;
    font-size: 1rem;
    width: 4rem;
}

.external-div{
    background-color: rebeccapurple;
    width: 130px;
    display: flex;
    align-items: center;
    height: 80px;
}

.mood-item img:hover{
    transition: .5s ease-in-out;
    transform: translate(0.5rem,0.3rem);
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

.external-div:hover{
    transition: .5s ease-in-out;
    transform: translate(0.5rem,0.3rem);
    opacity: 1;
    z-index: 1;
    cursor: pointer;
}

/* Vibes Section */

.vibes-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    background-image: linear-gradient(rgb(31, 28, 28),rgb(118, 0, 237));;
}

.vibes-item{
    position: relative;
}

.vibes-item span{
    position: absolute;
    top: 4rem;
    left: 35%;
    z-index: 1;
    font-weight: bolder;
}
.vibes-item img{
    height: 150px;
    width: 300px;
    opacity: 0.8;
    cursor: pointer;
}

.vibes-item img:hover{
    transition: .5s ease-in-out;
    transform: translate(0.5rem,0.3rem);
    opacity: 1;
    z-index: 1;
    border-radius: 12px;
}

/* Latest-English section */

.latest-eng-container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(33, 161, 193),rgb(255, 106, 0));
    flex-wrap: wrap;
}

#latest-english h1{
    margin-top: 3rem;
}

.latest-eng-item{
    position: relative;
}

.latest-eng-item img{
    margin-top: 4%;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    padding: 4%;
}

.latest-eng-item h3{
    font-size: 0.8rem;
}

.latest-eng-item span{
    font-size: 0.6rem;
    color: black;
}

.latest-eng-item:hover:active .pause-button i{
    display: block;
    position:absolute;
    top:30%;
    left:40%;
    font-size: 2rem;
    color: white;
    z-index: 2;
}

.latest-eng-item:hover:active .play-caller{
    display: none;
}

/* Latest-Hindi-section */
.latest-hindi-container{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(0, 204, 255),rgb(255, 30, 0));
    flex-wrap: wrap;
}

#latest-hindi h1{
    margin-top: 3rem;
}
.latest-hindi-item img{
    height: 120px;
    width: 120px;
    border-radius: 8px;
    margin-top: 5%;
    padding: 4%;
    width: 150px;
    height: 150px;
}

.latest-hindi-item h3{
    font-size: 0.8rem;
}

.latest-hindi-item span{
    font-size: 0.6rem;
    color: black;
}

.latest-hindi-item{
    position: relative;
}

.latest-hindi-item:hover:active .pause-button i{
    display: block;
    position:absolute;
    top:30%;
    left:40%;
    font-size: 2rem;
    color: white;
    z-index: 2;
}

.latest-hindi-item:hover:active .play-caller{
    display: none;
}


/* Aside Section */
.aside-sec{
    width: 20rem;
    height: 70%;
    overflow: scroll;
    position:absolute;
    top:25%;
    right: 4%;
    background-image: linear-gradient(rgb(99, 66, 4),rgb(255, 6, 255));
}

.aside-sec h1{
    display: inline;
    margin-bottom: 15%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(rgb(99, 66, 4),rgb(255, 6, 255));
}

.aside-sec::-webkit-scrollbar{
    display: none;
}

.list-container{
    width: 16rem;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.queue-list{
    list-style-type: upper-roman;
    position: relative;
    padding-left: 15%;
}

.queue-list img{
    height: 40px;
    width: 40px;
    margin-left: 4%;
}
.bar-graph{
    display: none;
}

.list-container:hover .bar-graph{
    display: block;
    position: absolute;
    left: -6%;
    bottom:5%;
    z-index: 1;
    color: rgb(11, 187, 187);
}

.heart{
    position: absolute;
    right: 4%;
    font-size: 1.2rem;
}

.heart:hover{
    color: red;
}
.queue-list h3{
    font-size: 0.8rem;
    text-align: center;
    display: inline;
    position: absolute;
    top:0%;
    margin-left: 4%;
}

.queue-list h4{
    font-size: 0.6rem;
    text-align: center;
    display: inline;
    position: absolute;
    top:40%;
    color: grey;
    margin-left: 4%;
}

.list-container:hover{
    list-style-type: none;
}

.queue-dropdown-caller{
    position: absolute;
    right: 20%;
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    color: rgb(9, 227, 227);
    font-weight: bolder;
    cursor: pointer;
}

.aside-sec .queue-menu{
    position: sticky;
    top: 0%;
    background-color: black;
}

.v-class{
    margin-left: 1rem;
    color: rgb(9, 227, 227);
    font-weight: bolder;
}

.v-class i{
    font-size: 0.6rem;
}

.queue-menu{
    z-index: 100;
}

.queue-menu:hover .queue-dropdown-list{
    display: block;
    position: absolute;
    top: 5%;
    right: 20%;
}

.queue-dropdown-list{
    background-color: white;
    width:12rem;
    display: none;
}

.bar-list{
    list-style: none;
    color:black;
}

.bar-list li{
    border-bottom:2px solid black;
    padding:4%;
    margin:12px;
}

.view-more #more{
    position: absolute;
    top: 25%;
    right: 0;
    font-size: 1.5rem;
    background-image: linear-gradient(orange,purple);
}


/* Responsive Aside section */

.responsive-aside-sec{
    position: absolute;
    top: 25%;
    right: 0;
}

.right-angles{
    background-image: linear-gradient(purple,orange);
    font-size: 2rem;
    width: fit-content;
}

.left-angles{
    background-image: linear-gradient(purple,orange);
    font-size: 2rem;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.dropdown-aside-list{
    display: none;
}

.responsive-aside-sec:hover .left-angles{
    display: block;
    z-index:2;
}

.responsive-aside-sec:hover .dropdown-aside-list{
    display: block;
}

.responsive-aside-sec:hover .right-angles{
    display: none;
}

.responsive-aside-sec{
    display: none;
    background-image: linear-gradient(rgb(3, 116, 116),red);
}

/* Footer Section */

#body-footer{
    background-color: rgb(24, 22, 22);
    position: sticky;
    bottom: 0px;
    z-index: 2000;
}

.audio-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 22, 22);
}

.audio-image{
    display: flex;
    align-items: center;
    position: relative;
    width: 20rem;
}

.audio-image img{
    height: 70px;
    width: 70px;
}

.audio-image h1{
    font-size: 1rem;
    margin-left: 3%;
}

.audio-image h2{
    position: absolute;
    font-size: 0.8rem;
    color: grey;
    left:25%;
    top:65%;
}

.heart-icon{
    position: absolute;
    right: 15%;

}

.ban{
    position: absolute;
    right: 2%;
    color: grey;
}

.heart-icon:hover{
    color: red;
}

.more-audio-options{
    display: flex;
    position: relative;
}

.queue-bars{
    margin-right: 30%;
    margin-top: 6%;
}

.computer{
    margin-left: 15%;
    position: absolute;
    top: 20%;
}

.volume{
    margin-top: 6%;
}

.volume-changer{
    width: 8rem;
    height: 3rem;
    position: relative;
    margin-right: 7rem;
}

.line{
    height: 3px;
    width: inherit;
    position: absolute;
    top:50%;
    background-color: white;
}

.gradient-color{
    height: 3px;
    width: 3rem;
    position: absolute;
    top:40%;
    background-image: linear-gradient(lime,yellow);
}

.circle{
    position:absolute;
    top: 40%;
    left: 80%;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
}


/* Common Class */
.align-items{
    margin-left: 10%;
    margin-right: 30%;
}

.h-primary{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.right-alignment{
    margin-right: 2rem;
}

.left-alignment{
    margin-left:2rem;
}

.orange-bg{
    background-color: orange;
}

.play-button:hover .play-caller i{
    display: block;
    position: absolute;
    left: 45%;
    top:30%;
    font-size: 2rem;
    color: white;
    z-index: 1;
}

.play-caller i{
    display: none;
}

.opacity-reducer:hover img{
    opacity: 0.6;
}

.pause-caller i{
    display: none;
}

@media screen and (max-width:1200px) {
    /* Header Section */
    #body-header{
        height: 150px;
    }

    #logo img{
        width: 3rem;
        height: 3rem;
    }

    .user img{
        height: 3rem;
        width: 3rem;
    }

    .user{
        left: 3%;
        top:55%;
    }

    .search-bar{
        left: 50%;
        width: 9rem;
    }

    #search{
        font-size: 1rem;
        width: 4rem;
    }

    .notification-bell{
        right: 25%;
        font-size: 0.5rem;
    }

    .dot{
        right: 25%;
    }

    .bars{
        position: absolute;
        right: 0;
        top:30%;
        display: block;
    }

    .horizontal-list{
        display: none;
    }

    .no-list-style li a{
        color: black;
        text-align: center;
    }

    /* Latest Release Section */
    .latest-release-container{
        flex-wrap: wrap;
    }

    .latest-rel-item{
        width: 42rem;
    }

    .latest-rel-item h4{
        position: absolute;
        top: 60%;
        left: 20%;
        font-size: 0.7rem;
        color: black;
    }

    /* Popular Artist Section */
    .artist-container{
        flex-wrap: wrap;
    }

    /* Mood Section */
    .mood-container{
        flex-wrap: wrap;
        height: fit-content;
    }

    /* Vibes Section */
    .vibes-container{
        flex-wrap: wrap;
    }


    .align-items{
        margin-left: 2%;
        margin-right: 2%;
    }

    
    /* Aside Section */
    .aside-sec{
        display: none;
    }

    .responsive-aside-sec{
        display: block;
    }


    /* Footer Section */
    .audio-container img{
        height: 50px;
        width: 50px;
    }

    .audio-container h1{
        font-size: 12px;
    }

    .audio-container h2{
        font-size: 10px;
        left: 30%;
    }

    .heart-icon{
        font-size: 10px;
    }

    .ban{
        font-size: 10px;
    }

    .queue-bars{
        font-size: 10px;
        top:40%;
    }

    .computer{
        font-size: 10px;
        top:40%;
    }

    .volume{
        font-size: 10px;
        top:40%;
    }

    .line{
        width: 55px;
    }
}